// light background
// --light-bg: #FCFCFC;
// --light-bg-panel: #EBEBEB;
// --light-color-heading: #0077FF;
// --light-color-text: #333333;
/*
Dark background
--dark-bg: #333333;
--dark-bg-panel: #434343;
--dark-color-heading: #3684FF;
--dark-color-text: #B5B5B5;

my color pick
--dark-primary: #0a0909;
--dark-pt-winter: #2de9f5;
--dark-pt-summer: #ffa400;
--dark-primary: #0a0909;
--dark-pt-winter: #2de9f5;
--dark-pt-summer: #ffa400;
*/

$light-bg: rgb(252, 252, 252);
$light-bg-panel: rgb(235, 235, 235);
$light-color-heading: rgb(0, 119, 255);
$light-color-text: rgb(51, 51, 51);

// light background
// $light-bg: #FCFCFC;
// $light-bg-panel: #EBEBEB;
// $light-color-heading: #0077FF;
// $light-color-text: #333333;

// Dark background
// $dark-bg: #333333;
// $dark-bg-panel: #434343;
// $dark-color-heading: #3684FF;
// $dark-color-text: #B5B5B5;

// my color pick
// $dark-primary: #0a0909;
// $dark-pt-winter: #2de9f5;
// $dark-pt-summer: #ffa400;
