<%- include('./includes/head.ejs'); %>
  <title>Jor-EL's Portfolio</title>
  </head>
<body>
  <section class="container">
    <main class="central">
    <h1>Start Pack Active</h1>
    <h2>Recommended MVC folder system already created. Change to your liking.</h2>
    
    <p>This is the static development mode of this start-up pack. Ready for work with templates like ejs or frameworks such as Adonis.</p>
    <div class="info-card">
      <p>This start-up pack is set up to immediately run on either React or any other framework such as ExpressJs (using ejs templates) or frameworks such as AdonisJs using the edge templating system. I am still working on integrating Laravel.</p>
      <p>This starter pack is outfitted for ExpressJS, React, NodeJS, SASS, and database technologies.</p>
      <p>GulpJS is used for live-server while Webpack compiles our code. However it is also optional to run a live server through webpack-dev-server and to also run a proxy server through gulpJS. This way multiple servers can be run (useful when running adonis server).</p>
      <p><strong>Gulp 4.0.1</strong> & <strong>Webpack 4.43.0</strong> versions used.</p>
      <p>If you are creating a React app you code in the assests folder and Gulp and Webpack will take care of the rest, compiling your code in the public folder.</p>
      <h2>How to set up the starter pack the way you want</h2>
      <p>Picture of - Tenshi Hinanawi</p>
      </div>
      <div class="info-card__image">
        <img src="./img/71934278_p0.jpg" alt="Tenshi Hinanawi" />
      </div>
    </main>
  </section>
  
  <script src="./index.bundle.js"></script>
</body>
</html>